spring:
  application:
    name: backend
  datasource:
    url: jdbc:postgresql://localhost:5432/mido
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
  devtools:
    livereload:
      enabled: true

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

logging:
  level:
    com.mido.verification: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
