name: Backend CI

on:
  push:
    branches: [ main ]
    paths:
      - "build.gradle"
      - "settings.gradle"
      - "src/main/**"
      - "src/test/**"
      - ".github/workflows/backend-ci.yml"
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
        continue-on-error: true

      - name: Build with Gradle
        run: ./gradlew build

